body {    
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.page-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main"
    "sidebar main main";
    grid-template-columns: 15vw auto auto;
    grid-template-rows: 15vh 85vh;
}
.sidebar {
    background-color: #1992D4;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
}
.sidebar-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.dashboard-text-container {
    padding-left: 1rem;
}
.dashboard-text-container:hover {
    color: white;
}
.dashboard-img-container {
    height: 80px;
    width: 80px;
}
.dashboard-img-container .dashboard-img {
    width: 100%;
    height: 100%;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.sidebar-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.sidebar-img-container {
    height: 30px;
    width: 30px;
}
.sidebar-img {
    height: 100%;
    width: 100%;
}
.sidebar-text {
    padding-left: 1rem;
}
.sidebar-text:hover {
    color: white;
}
.header {
 background-color: #FFFFFF;
 grid-area: header;
}
.main {
 background-color: #E2E8F0;
 grid-area: main;
 display: grid;
 grid-template-areas:
 "proectsTitle announcementsTitle"
 "projects announcementsTrending";
 grid-template-columns: 2fr 1fr;
 grid-template-rows: 5% auto;
}
.projectstitle {
    grid-area: proectsTitle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.projectstitle h2 {
    margin-left: 2rem;
}
.projects {
    grid-area: projects;
    display: grid;
    grid-template-areas:
    "project project"
    "project project"
    "project project";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.project {
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-left: 0.5rem solid #F0B429;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 1rem;
}
.project-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.project-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.project-img-container {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}
.announcementsTitle {
    grid-area: announcementsTitle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.announcementsTitle h2 {
    margin-left: 2rem;
}
.announcementsTrending {
    grid-area: announcementsTrending;
    display: grid;
    grid-template-areas:
    "accouncements"
    "trendingTitle"
    "trending";
    grid-template-columns: 1fr;
    grid-template-rows: 45% 10% 45%;
}
.announcements {
    grid-area: accouncements;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-color: white;
    border-left: 0.5rem solid #F0B429;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 1rem;
}
.announcements-section br {
    font-size: 2rem;
    color: black;
}
.trendingTitle {
    grid-area: trendingTitle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.trendingTitle h2 {
    margin-left: 2rem;
}
.trending {
    grid-area: trending;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-color: white;
    border-left: 0.5rem solid #F0B429;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 1rem;
}

